.footer {
  padding: 0 20vw;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  text-align: center;
  margin-top: 50px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-icons li {
  padding: 10px;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
